opencv-python
pyyaml
PySide6
matplotlib
pillow
opencv-contrib-python
# For Faster R-CNN model
torch
torchvision
timm>=0.9.12

# YOLOv11 (Ultralytics)
ultralytics>=8.3.0
ocsort

# If you plan to use the CSRT tracker, replace opencv-python with:
# opencv-contrib-python
 
# Progress bars
tqdm
